@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
    font-family: 'Poppins', sans-serif;
}